<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>AboutMe</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AboutMeServlet</display-name>
    <servlet-name>AboutMeServlet</servlet-name>
    <servlet-class>thupna.AboutMeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AboutMeServlet</servlet-name>
    <url-pattern>/AboutMeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Aboutme</display-name>
    <servlet-name>Aboutme</servlet-name>
    <servlet-class>Aboutme</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Aboutme</servlet-name>
    <url-pattern>/Aboutme</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Index</display-name>
    <servlet-name>Index</servlet-name>
    <servlet-class>Index</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Index</servlet-name>
    <url-pattern>/Index</url-pattern>
  </servlet-mapping>
</web-app>