<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Danh sách San Pham</title>
</head>
<body>
<h1>Danh sách khách h</h1>
<table border="1">
    <thead>
    <tr>
        <th>Mã KH</th>
        <th>Tên KH </th>
        <th>Địa chỉ </th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="sp : ${dsSanPham}">
        <td th:text="${sp.name}" />
        <td th:text="${sp.moTa}" />
        <td th:text="${sp.donGia}" />
        <td th:text="${sp.sl}" />
        <td th:text="${sp.hinhDang}" />
        <td th:text="${sp.maNCC}" />
        <td th:text="${sp.thanhPhan}" />
        <td th:text="${sp.xuatXu}" />
        <td th:text="${sp.img}"></td> </tr>
    </tbody>
</table>
</body>
</html>
