<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Danh sách sản phẩm</h1>
<table border="1">
    <thead>
    <tr>
        <th>Mã SP</th>
        <th>Mã Loại SP</th>
        <th>Tên</th>
        <th>Mô Tả</th>
        <th>Đơn Giá</th>
        <th>Số Lượng</th>
        <th>Hình Dạng</th>
        <th>Mã NCC</th>
        <th>Thành Phần</th>
        <th>Xuất Xứ</th>
        <th>Hình Ảnh</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="sp : ${dsSPTheoLoai}">
        <td th:text="${sp.name}"></td>
        <td th:text="${sp.moTa}"></td>
        <td th:text="${sp.donGia}"></td>
        <td th:text="${sp.sl}"></td>
        <td th:text="${sp.hinhDang}"></td>
        <td th:text="${sp.maNCC}"></td>
        <td th:text="${sp.thanhPhan}"></td>
        <td th:text="${sp.xuatXu}"></td>
        <td th:text="${sp.img}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>
