<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Danh sách khách h</h1>
<table border="1">
    <thead>
    <tr>
        <th>Mã KH</th>
        <th>Tên KH </th>
        <th>Địa chỉ </th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="kh : ${timKiemSP}">
        <td th:text="${kh.id}" />
        <td th:text="${kh.maLoaiSP}" />
        <td th:text="${kh.name}" />
        <td th:text="${kh.moTa}" />
        <td th:text="${kh.donGia}" />
        <td th:text="${kh.sl}" />
        <td th:text="${kh.hinhDang}" />
        <td th:text="${kh.maNCC}" />
        <td th:text="${kh.thanhPhan}" />
        <td th:text="${kh.xuatXu}" />
        <td th:text="${kh.img}" />
    </tr>
    </tbody>
</table>
</body>
</html>