<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

  <style >
    span {
      display: inline-block;
      width: 200px;
      text-align: left;
    }
  </style>
</head>
<body>

<div align="center">
  <h2>Thêm Sinh viên Thành công!</h2>
  <span>Mã Số SV:</span><span th:text="${sv.maSV}"></span><br/>
  <span>Họ Và Tên:</span><span th:text="${sv.name}"></span><br/>
  <span>Diem Tich Luy:</span><span th:text="${sv.diemTichLuy}"></span><br/>
</div>

</body>
</html>